@charset "utf-8";
//styles will go here

@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap");

$navbar-background-color: #060d01;
$family-serif: "Didact Gothic";
$family-primary: $family-serif;
$label-color: #ffffff;
$label-weight: 400;

@import "node_modules/bulma-checkradio/src/sass/index.sass";
@import "node_modules/bulma-slider/src/sass/index.sass";
@import "node_modules/bulma/bulma.sass";
